In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Netflix-Dataset-Latest-2021.csv')

In [5]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     ------------------------------------ 242.2/242.2 KB 743.3 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [59]:
len(df)

9425

In [4]:
df.head(2)

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site,Unnamed: 29,Unnamed: 30
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Comedy Programmes,Romantic TV Comedies,Horror ...","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,...,https://www.netflix.com/watch/81415947,https://www.imdb.com/title/tt1139797,A med student with a supernatural gift tries t...,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BOWM4NT...,https://www.youtube.com/watch?v=LqB6XJix-dM,YouTube,NaN,NaN
1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,...,https://www.netflix.com/watch/81041267,https://www.imdb.com/title/tt4193072,"When nerdy Johanna moves to London, things get...",2838.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BZGUyN2...,https://www.youtube.com/watch?v=eIbcxPy4okQ,YouTube,NaN,NaN

In [5]:
df.isnull().sum()

Title                       0
Genre                      25
Tags                       36
Languages                 159
Series or Movie             0
Hidden Gem Score           10
Country Availability       11
Runtime                     1
Director                 2305
Writer                   1810
Actors                    111
View Rating              2598
IMDb Score                  8
Rotten Tomatoes Score    3980
Metacritic Score         5343
Awards Received          4199
Awards Nominated For     3049
Boxoffice                5671
Release Date              208
Netflix Release Date        0
Production House         5032
Netflix Link                0
IMDb Link                 324
Summary                     5
IMDb Votes                 10
Image                       0
Poster                    938
TMDb Trailer                0
Trailer Site                1
Unnamed: 29              9425
Unnamed: 30              9425
dtype: int64

In [6]:
df.columns

Index(['Title', 'Genre', 'Tags', 'Languages', 'Series or Movie',
       'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director',
       'Writer', 'Actors', 'View Rating', 'IMDb Score',
       'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received',
       'Awards Nominated For', 'Boxoffice', 'Release Date',
       'Netflix Release Date', 'Production House', 'Netflix Link', 'IMDb Link',
       'Summary', 'IMDb Votes', 'Image', 'Poster', 'TMDb Trailer',
       'Trailer Site', 'Unnamed: 29', 'Unnamed: 30'],
      dtype='object')

In [148]:
movies = df[['Title','Genre','Tags','Series or Movie','Director','Writer','Actors','Production House']]

In [149]:
len(movies)

9425

In [150]:
import ast

In [151]:
def convert(text):
    L = []
    text = str(text).replace(" ", "")
    text = list(str(text).split(","))
    for i in text:
        L.append(i)
    return L

In [147]:
movies.dropna(inplace=True)

C:\Users\anura\AppData\Local\Temp\ipykernel_10152\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [152]:
movies['Genre'] = movies['Genre'].apply(convert)

C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1329983746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genre'] = movies['Genre'].apply(convert)

In [153]:
movies.sample(2)

,Title,Genre,Tags,Series or Movie,Director,Writer,Actors,Production House
3751,Happy End,"[Crime, Drama, Romance]","Dramas,Crime Dramas,Korean Movies,Korean Drama...",Movie,Ji-woo Jung,Ji-woo Jung,"Mi-seon Hwang, Choi Min-sik, Ju Jin-Mo, Jeon D...",NaN
1415,The Pied Piper,"[Animation, Fantasy, Horror]","Social Issue Dramas,Dramas,Period Pieces,Class...",Movie,Jirí Barta,"Kamil Pixa, Viktor Dyk","Oldrich Kaiser, Jirí Lábus, Michal Pavlícek, V...",NaN

In [154]:
len(movies)

9425

In [155]:
movies['Tags'] = movies['Tags'].apply(convert)
movies['Series or Movie'] = movies['Series or Movie'].apply(convert)
movies['Director'] = movies['Director'].apply(convert)
movies['Writer'] = movies['Writer'].apply(convert)
movies['Actors'] = movies['Actors'].apply(convert)
movies['Production House'] = movies['Production House'].apply(convert)

C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1391748596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Tags'] = movies['Tags'].apply(convert)
C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1391748596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Series or Movie'] = movies['Series or Movie'].apply(convert)
C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1391748596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Director'] = movies['Director'].apply(convert)
C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1391748596.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Writer'] = movies['Writer'].apply(convert)
C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1391748596.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Actors'] = movies['Actors'].apply(convert)
C:\Users\anura\AppData\Local\Temp\ipykernel_10152\1391748596.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Production House'] = movies['Production House'].apply(convert)

In [161]:
movies.sample(2)

,Title,Genre,Tags,Series or Movie,Director,Writer,Actors,Production House,tags
4911,Geralds Game,"[Drama, Horror, Thriller]","[PsychologicalThrillers, Thrillers, HorrorFilm...",[Movie],[MikeFlanagan],"[JeffHoward, StephenKing, MikeFlanagan]","[CarlaGugino, BruceGreenwood, ChiaraAurelia, C...",[nan],"[Drama, Horror, Thriller, PsychologicalThrille..."
6760,Maps to the Stars,"[Comedy, Drama]","[Dramas, Spoofs&Satires, DarkComedies, Showbiz...",[Movie],[DavidCronenberg],[BruceWagner],"[MiaWasikowska, EvanBird, JohnCusack, Julianne...","[IntegralFilm, ProsperoPictures, SBSProduction...","[Comedy, Drama, Dramas, Spoofs&Satires, DarkCo..."

In [157]:
movies.columns

Index(['Title', 'Genre', 'Tags', 'Series or Movie', 'Director', 'Writer',
       'Actors', 'Production House'],
      dtype='object')

In [158]:
len(movies)

9425

In [159]:
movies['tags'] = movies['Genre'] + movies['Tags'] + movies['Series or Movie'] + movies['Director'] + movies['Writer'] + movies['Actors'] + movies['Production House']

C:\Users\anura\AppData\Local\Temp\ipykernel_10152\4004404974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['Genre'] + movies['Tags'] + movies['Series or Movie'] + movies['Director'] + movies['Writer'] + movies['Actors'] + movies['Production House']

In [162]:
movies_df = movies.drop(columns=['Genre', 'Tags', 'Series or Movie', 'Director', 'Writer', 'Actors', 'Production House'])

In [163]:
movies_df.head(10)

,Title,tags
0,Lets Fight Ghost,"[Crime, Drama, Fantasy, Horror, Romance, Comed..."
1,HOW TO BUILD A GIRL,"[Comedy, Dramas, Comedies, FilmsBasedonBooks, ..."
2,The Con-Heartist,"[Comedy, Romance, RomanticComedies, Comedies, ..."
3,Gleboka woda,"[Drama, TVDramas, PolishTVShows, SocialIssueTV..."
4,Only a Mother,"[Drama, SocialIssueDramas, Dramas, MoviesBased..."
5,Snowroller,"[Comedy, SportsMovies, SportsComedies, Comedie..."
6,The Invisible,"[Crime, Drama, Fantasy, Mystery, Thriller, Thr..."
7,The Simple Minded Murderer,"[Drama, SocialIssueDramas, Dramas, MoviesBased..."
8,To Kill a Child,"[Short, Drama, Dramas, SwedishMovies, Movie, J..."
9,Joker,"[Crime, Drama, Thriller, DarkComedies, CrimeCo..."

In [137]:
movies_df.reset_index(drop=True, inplace=True)

In [164]:
def convert_tags(text):
    str = ""
    for i in text:
        str = str + i +" "
    return str

In [165]:
movies_df['tags'] = movies_df['tags'].apply(convert_tags)

In [177]:
movies_df.iloc[0]['tags']

'Crime Drama Fantasy Horror Romance ComedyProgrammes RomanticTVComedies HorrorProgrammes ThaiTVProgrammes Series TomasAlfredson JohnAjvideLindqvist LinaLeandersson KåreHedebrant PerRagnar HenrikDahl Canal+ SandrewMetronome '

In [168]:
movies_df.sample(5)

,Title,tags
276,Gangaajal,Action Crime Drama SocialIssueDramas Bollywood...
2764,Mission: Impossible - Fallout,Action Adventure Thriller SpyAction&Adventure ...
3792,Jagga Jasoos,Action Adventure Comedy Musical Mystery Comedi...
1197,Kingdom,Action Drama Horror Thriller DramaProgrammes U...
2270,Upstarts,Drama Hindi-LanguageMovies Dramas Comedies Ind...

In [178]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [179]:
vector = cv.fit_transform(movies_df['tags']).toarray()

In [180]:
vector.shape

(9425, 5000)

In [181]:
len(movies_df)

9425

In [182]:
from sklearn.metrics.pairwise import cosine_similarity

In [183]:
similarity = cosine_similarity(vector)

In [184]:
similarity

array([[1.        , 0.        , 0.07161149, ..., 0.        , 0.        ,
        0.06201737],
       [0.        , 1.        , 0.25819889, ..., 0.20100756, 0.28867513,
        0.0745356 ],
       [0.07161149, 0.25819889, 1.        , ..., 0.46709937, 0.2981424 ,
        0.23094011],
       ...,
       [0.        , 0.20100756, 0.46709937, ..., 1.        , 0.34815531,
        0.40451992],
       [0.        , 0.28867513, 0.2981424 , ..., 0.34815531, 1.        ,
        0.25819889],
       [0.06201737, 0.0745356 , 0.23094011, ..., 0.40451992, 0.25819889,
        1.        ]])

In [185]:
def recommend(movie):
    index = movies_df[movies_df['Title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies_df.iloc[i[0]].Title)

In [186]:
recommend('Dragonheart')

The Last Witch Hunter
Clash of the Titans
In the Name of the King: A Dungeon Siege Tale
The Forbidden Kingdom
Kingsglaive: Final Fantasy XV

In [187]:
import pickle

In [188]:
pickle.dump(movies_df,open('movie_list.pkl','wb'))
pickle.dump(df,open('movie_info.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))